* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

nav {
  background-color: black;
  color: white;
  padding: 20px 50px;
}

.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.searchInput {
  border: none;
  background-color: transparent;
}

.searchInput::placeholder {
  color: lightgray;
}

.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}

.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.menuItem {
  margin-right: 25px;
  margin-top: 20px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

.slider {
  background-image: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all ease-in-out 1s;
  overflow: hidden;
}

.sliderItem {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sliderBg {
  position: absolute;
  width: 700px;
  height: 700px;
  /* background-color: yellow; */
  border-radius: 50%;
}

.sliderImage {
  z-index: 1;
}

.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  text-align: center;
  color: white;
  font-weight: 700;
  z-index: 1;
}

.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  text-align: center;
  color: white;
  z-index: 1;
  font-weight: 300;
}
.buyButtom {
  display: inline-block;
  position: absolute;
  top: 47%;
  right: 10%;
  font-size: 20px;
  text-align: center;
  color: white;
  z-index: 1;
  font-weight: 900;
  background-color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all ease-in-out 0.3s;
}

.buyButtom:hover {
  background-color: white;
  color: black;
}

.sliderItem:nth-child(1) .sliderBg {
  background-color: #369e62;
}
.sliderItem:nth-child(2) .sliderBg {
  background-color: cornflowerblue;
}
.sliderItem:nth-child(3) .sliderBg {
  background-color: indigo;
}
.sliderItem:nth-child(4) .sliderBg {
  background-color: lightcoral;
}
.sliderItem:nth-child(5) .sliderBg {
  background-color: lightskyblue;
}

.sliderItem:nth-child(1) .sliderPrice {
  color: #369e62;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: cornflowerblue;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: rgb(243, 243, 243);
}
.sliderItem:nth-child(4) .sliderPrice {
  color: lightcoral;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: lightskyblue;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureImage {
  width: 50px;
  height: 50px;
}

.featureTitle {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px;
}

.featureDescription {
  color: gray;
  width: 50%;
  height: 100px;
}

.product {
  position: relative;
  height: 100vh;
  background-color: whitesmoke;
  clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0% 100%);
}

.payment {
  position: absolute;
  width: 560px;
  height: 560px;
  background-color: rgb(255, 255, 255);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.59);
  box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.59);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.payTitle {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px;
  text-align: center;
  color: gray;
  padding-bottom: 10px;
  line-height: 8px;
}

label {
  font-size: 15px;
  font-weight: 400;
}

.payInput {
  border: none;
  background-color: transparent;
  margin: 10px;
  padding: 15px;
  text-align: left;
}

.payInput::placeholder {
  color: gray;
}

.cardIcons {
  display: flex;
}

.cardIcons {
  margin-right: 10px;
}

.cardInfo {
  display: flex;
  justify-content: space-between;
}

.sm {
  width: 30%;
}

.payButton {
  position: absolute;
  height: 40px;
  bottom: -50px;
  width: 100%;
  left: 0;
  border: none;
  color: white;
  background-color: black;
  padding: 10px 10px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  transition: all ease-in-out 0.3s;
  text-transform: uppercase;
  -webkit-box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.59);
  -moz-box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.59);
  box-shadow: 1px 2px 8px 3px rgba(0, 0, 0, 0.59);
}

.payButton:hover {
  background-color: green;
  color: whitesmoke;
}

.close {
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 13px;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 7px 10px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImage {
  width: 50%;
}

.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 40px;
}

.productTitle {
  font-size: 60px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 15px;
}
.productPrice {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 15px;
}

.productDescription {
  color: gray;
  padding-bottom: 15px;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  margin-right: 10px;
  cursor: pointer;
  background-color: black;
}
.color:nth-child(2) {
  background-color: darkblue;
}

.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 15px;
  cursor: pointer;
  font-size: 20px;
}

.productButton {
  padding-top: 10px;
  float: right;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.productButton:hover {
  background-color: whitesmoke;
  color: black;
}

.gallery {
  display: flex;
  padding: 50px;
}

.galleryItem {
  width: 33.3%;
  padding: 50px;
}

.gallery img {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.newSeason {
  display: flex;
  padding: 40px;
}

.nsItem {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.nsItem img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}

.nsTitlesm {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px;
  text-align: center;
  color: gray;
  padding-bottom: 10px;
  line-height: 8px;
}

.nsTitle {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 20px;
  text-align: center;
  color: gray;
  padding-bottom: 10px;
  line-height: 8px;
}

.nsButton {
  padding-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.nsButton:hover {
  background-color: rgb(74, 190, 48);
  color: rgb(255, 255, 255);
}

footer {
  display: flex;
}

.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.fMenuTitle {
  font-size: 20px;
  margin-bottom: 20px;
}

.fListItem {
  padding-top: 5px;
  list-style: none;
  margin: 7px;
  cursor: pointer;
  color: gray;
}

.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fInput {
  padding: 10px 20px;
  border: none;
  margin-right: 5px;
  margin-bottom: 5px;
}

.fButton {
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.fButton:hover {
  background-color: rgb(0, 255, 26);
  color: rgb(0, 0, 0);
}

.fIcons {
  display: flex;
  cursor: pointer;
  gap: 1.5vw;
  align-items: center;
  margin-bottom: 1.5vh;
}

.fIcon {
  height: 20px;
  width: 20px;
}

.fMenuTitle {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.footerRightMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  font-size: 15px;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  color: gray;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */

/* responsive code start's from here! */

/* ------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 480px) {
  nav {
    padding: 20px;
  }
  .search {
    display: none;
  }

  .navBottom {
    flex-wrap: wrap;
  }

  .menuItem {
    margin: 15px;
  }

  .slider {
    clip-path: none !important;
  }
  .sliderImage {
    width: 90%;
  }

  .sliderBg {
    height: 100%;
    width: 100%;
  }

  .sliderPrice {
    top: unset;
    bottom: 0;
    left: 0;
    background-color: lightgray;
    border-radius: 5px;
    font-size: 40px;
  }

  .sliderTitle {
    display: none;
  }

  .buyButtom {
    top: 0;
    right: 0;
  }

  .features {
    flex-direction: column;
  }

  .product {
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .productImage {
    width: 80%;
  }

  .productDetails {
    top: 0;
    width: 100%;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  }

  .productTitle {
    font-size: 40px;
  }

  .productDescription {
    font-size: 15px;
  }

  .gallery {
    display: none;
  }

  .newSeason {
    flex-direction: column;
    padding: 20px;
    margin-top: 8vh;
  }
  .nsItem {
    gap: 10px;
  }
  .nsButton {
    margin-bottom: 10px;
  }

  footer {
    flex-direction: column;
    align-items: center;
  }
  .footerLeft {
    padding: 20px;
    width: 90%;
  }

  .fMenuTitle {
    font-size: 15px;
  }

  .fMenuTitle {
    font-size: 15px;
  }

  .footerRight {
    padding: 20px;
    width: 90%;
  }
  .fIcons {
    gap: 15px;
  }

  .payment {
    height: fit-content;
    width: fit-content;
    top: 61%;
    padding: 5px 20px;
  }
  .payTitle {
    font-size: 12px;
  }

  label {
    font-size: 13px;
  }
  .payInput {
    font-size: 13px;
  }
}
